/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --accent-color: #0070e0;
  --low-priority: #89bb40;
  --medium-priority: #f1a74e;
  --high-priority: #ec1a2b;
  --low-priority-bg: #89bb4020;
  --medium-priority-bg: #f1a74e20;
  --high-priority-bg: #ec1a2b20;
  --low-priority-hover: #89bb4033;
  --medium-priority-hover: #f1a74e33;
  --high-priority-hover: #ec1a2b33;
  --bckg: #fafafa;
  --bckg2: #e8e8e8;
  --onBckg: #191919;
  --side-nav-width: 24vw;
  --form-padding: 4vw;
}

/*********************************************************/
/* Material Icons */
/*********************************************************/

@font-face {
  font-family: "Material Icons Rounded";
  /* font-weight: bold; */
  font-style: normal;
  src: url("./assets/fonts/MaterialIconsRound-Regular.otf") format("opentype");
}

.material-icons-rounded {
  font-family: "Material Icons Rounded";
  /* font-weight: normal; */
  font-style: normal;
  font-size: 2rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

#root {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

/*********************************************************/
/* Header */
/*********************************************************/

#app-header {
  display: flex;
  flex: 0 0 auto; /* Header takes its natural height */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 30px 0;
  background: black;
  color: white;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 700;
  gap: 1rem;
}

#app-header i {
  font-weight: 100;
  font-size: 3rem;
  opacity: 0.6;
  /* color: var(--low-priority); */
}

/*********************************************************/
/* Content */
/*********************************************************/

.content {
  height: 100vh;
  display: flex;
  flex: 1 1 auto; /* Content takes the remaining space */
  box-sizing: border-box;
  overflow: hidden; /* Make sure .content doesn't scroll for #tasklist overflow */
}

#main-header {
  font-size: 2rem;
  font-weight: 700;
}

/*********************************************************/
/* Projects Nav*/
/*********************************************************/

nav {
  display: flex;
  background: var(--bckg2);
  flex-direction: column;
  position: relative;
  width: var(--side-nav-width);
  padding: 1rem;
  z-index: 10;
}

/*********************************************************/
/* Main */
/*********************************************************/

main {
  flex: 1 1 auto; /* Main takes the remaining space within .content */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  /* background: linear-gradient(to bottom, var(--bckg), var(--bckg2)); */
}
